In [4]:
import pandas as pd

datos=pd.read_csv('Fuentes_Consumo_Energia.csv')
datos

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...,...,...
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [6]:
datos.dtypes

Entity                     object
Code                       object
Year                        int64
Coal_Consumption_EJ       float64
Gas_Consumption_EJ        float64
Geo_Biomass_Other_TWh     float64
Hydro_Generation_TWh      float64
Nuclear_Generation_TWh    float64
Solar_Generation_TWh      float64
Wind_Generation_TWh       float64
Oil_Consumption_EJ        float64
dtype: object

In [24]:
datos.iloc[164]

Entity                    Argentina
Code                            ARG
Year                           2019
Coal_Consumption_EJ        0.022852
Gas_Consumption_EJ         1.709661
Geo_Biomass_Other_TWh      2.397314
Hydro_Generation_TWh      37.066787
Nuclear_Generation_TWh     8.441898
Solar_Generation_TWh       0.799698
Wind_Generation_TWh        4.995966
Oil_Consumption_EJ          1.18558
Name: 164, dtype: object

In [28]:
resultado=datos[datos['Year']==2019]
paises=['Argentina','Brazil','Chile','Colombia','Ecuador','Mexico','Peru']
ind=[]
for i,j in enumerate(resultado['Entity']):
    if j in paises:
        ind.append(i)
ind

resultado=resultado.iloc[ind]
resultado

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
164,Argentina,ARG,2019,0.022852,1.709661,2.397314,37.066787,8.441898,0.799698,4.995966,1.185580
564,Brazil,BRA,2019,0.656077,1.289142,56.254366,399.297116,16.164832,5.562711,55.833200,4.730524
839,Chile,CHL,2019,0.284529,0.233328,9.992204,20.852753,0.000000,6.300226,5.300193,0.759592
949,Colombia,COL,2019,0.257706,0.484072,2.047531,51.542435,0.000000,0.123067,0.059537,0.701667
1254,Ecuador,ECU,2019,0.000000,0.022754,0.454723,24.664264,0.000000,0.166452,0.085527,0.494373
2634,Mexico,MEX,2019,0.507516,3.264027,7.751057,23.790435,11.251211,12.439314,17.598450,3.291532
3569,Peru,PER,2019,0.021773,0.298798,1.614181,31.586059,0.000000,0.761726,1.646162,0.506485

In [60]:
maximo=resultado['Wind_Generation_TWh'].max()
pais=resultado[resultado['Wind_Generation_TWh']==maximo]
final=pd.DataFrame(pais.groupby(['Entity']))
#final=pd.DataFrame(pais.groupby(['Entity','Wind_Generation_TWh']))
p=str(final[0].to_numpy())[2:-2]
p

'Brazil'